<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
        <section layout:fragment="content">
            <form action="#" th:action="@{/add}" th:object="${manifest}" method="post">
                <div class="row">
                    <div class="col-md-2">
                        URL to manifest:
                    </div>
                    <div class="col-md-8">
                        <input type="text" th:field="*{manifestUri}" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <button name="submit" type="submit" class="btn btn-primary">load</button>
                    </div>
                </div>
            </form>

        </section>
    </body>
</html>
