<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
        <section layout:fragment="content">

            <form action="#" th:action="@{/add}" th:object="${manifest}" method="post">
                <input type="text" th:field="*{manifestUri}" size="50"/>
                <button name="submit" type="submit" class="btn btn-primary">load</button>
            </form>

        </section>
    </body>
</html>
