<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
        <section layout:fragment="content">
            
            <div class="row">
  <div class="col-md-12" style="text-align: right;">
      <p><a class="btn btn-primary" th:href="@{/add}" role="button">add <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a></p>
  </div>
            </div>

            <table class="table table-hover table-condensed">
                <tr th:each="manifest : ${manifests}">
                    <td th:text="${manifest}">Name</td>
                </tr>
            </table>
            
        </section>
    </body>
</html>
