<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
        <section layout:fragment="content">

            <div class="row">
                <div class="col-md-10">
                    Found <span th:text="${count}">17</span> books. Current language is <em th:text='${#locale.language}'>de</em>
                </div>
                <div class="col-md-2" style="text-align: right;">
                    <p><a class="btn btn-primary" th:href="@{/add}" role="button">add <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a></p>
                </div>
            </div>

            <table class="table table-hover table-condensed">
                <tr th:each="manifest : ${manifests}">
                    <td>
                <th:block th:if="${manifest.thumbnail} != null">
                    <th:block th:if="${manifest.thumbnail.iiifImageApiVersion} != null">
                        <img th:if="${manifest.thumbnail.iiifImageApiVersion.toString()} eq 'V1_1'" th:src="|${manifest.thumbnail.iiifImageServiceUri}/full/,90/0/native.jpg|"/>
                        <img th:if="${manifest.thumbnail.iiifImageApiVersion.toString()} eq 'V2'" th:src="|${manifest.thumbnail.iiifImageServiceUri}/full/,90/0/default.jpg|"/>
                    </th:block>
                    <th:block th:if="${manifest.thumbnail.iiifImageApiVersion} == null">
                        <th:block th:if="${manifest.version} != null">
                            <img th:if="${manifest.version.toString()} eq 'V1'" th:src="|${manifest.thumbnail.iiifImageServiceUri}/full/,90/0/native.jpg|"/>
                            <img th:if="${manifest.version.toString()} eq 'V2'" th:src="|${manifest.thumbnail.iiifImageServiceUri}/full/,90/0/default.jpg|"/>
                        </th:block>
                        <th:block th:if="${manifest.version} == null">
                            <img th:src="|${manifest.thumbnail.iiifImageServiceUri}/full/,90/0/default.jpg|"/>
                        </th:block>
                    </th:block>
                </th:block>
                </td>
                <!--                    <td th:text="${manifest.manifestUri}">URI</td>-->
                <td>
                    <!-- ${#maps.containsKey(map, key)} -->
                    <b th:text="${manifest.labels.isEmpty()} ? '' : (${manifest.labels.get(__${#locale.language}__) != null? manifest.labels.get(__${#locale.language}__) : manifest.labels.values().toArray()[0]})">label</b><br/>
                    <span class="description" th:text="${manifest.descriptions.isEmpty()} ? '' : (${manifest.descriptions.get(__${#locale.language}__) != null? manifest.descriptions.get(__${#locale.language}__) : manifest.descriptions.values().toArray()[0]})">description</span><br/>
                    <em th:text="${manifest.attributions.isEmpty()} ? '' : (${manifest.attributions.get(__${#locale.language}__) != null? manifest.attributions.get(__${#locale.language}__) : manifest.attributions.values().toArray()[0]})">attribution</em><br/>
                    <a th:href="${manifest.manifestUri}" target="_blank">IIIF-Manifest</a><br/>
                </td>

                <td>
                    <a class="btn btn-primary btn-xs" th:href="@{/view/__${manifest.uuid}__}"><span class="glyphicon glyphicon-chevron-right"></span> read</a>
                </td>
                </tr>
            </table>

        </section>

    <th:block layout:fragment="morejs">
        <script type="text/javascript" th:src="@{/js/jquery.shorten.js}"></script>

        <script language="javascript">
            $(document).ready(function () {
                $(".description").shorten({showChars: 150});
            });
        </script>
    </th:block>
</body>
</html>
