# local/default

# "custom": configuration section with not Spring Boot common application properties
# see https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#common-application-properties
custom:
  app:
    security:
      # if not enabled, everyone can add manifests and add button will be shown
      enabled: true
      username: foobar
      password: hamspam
  iiif:
    graciousParsing: true
  mongeez:
    classpathToMongeezXml: '/de/digitalcollections/iiif/bookshelf/config/mongeez/mongeez.xml'
    dbName: 'iiif-bookshelf'
  solr:
    collection: 'bookshelf'
  summary:
    thumbnail:
      width: 280
# end of custom configuration section

info:
  app:
    encoding: @project.build.sourceEncoding@
    java:
      source: @maven.compiler.source@
      target: @maven.compiler.target@
    project:
      artifactId: @project.artifactId@
      buildDetails: '@versionName@'
      groupId: @project.groupId@
      name: '@project.name@'
      version: @project.version@

javamelody:
  enabled: true
  init-parameters:
    allowed-addr-pattern: 'localhost|127\.0\.0\.1|0:0:0:0:0:0:0:1'
    authorized-users: 'admin:secret'
    http-transform-pattern: '(\\d+|(?<=currenttitles/).*|(?<=citationtitles/).*|(?<=occurrences/).*|(?<=periodical/).*|(?<=issues/).*)'
    # log http requests:
    log: false
    monitoring-path: '/monitoring/javamelody'
    storage-directory: '/local/javamelody-bookshelf'
    url-exclude-pattern: '^(/webjars|/monitoring).*'

management:
  endpoint:
    health:
      show-details: when-authorized
  endpoints:
    web:
      base-path: '/monitoring'
      exposure:
        include: '*'
  info:
    git:
      mode: full
  server:
    port: 8081

server:
  error:
    include-exception: true
    include-stacktrace: always
  port: 8080
  server-header: '@project.name@ v@project.version@'
  tomcat:
    accesslog:
      directory: "/var/log/digitalcollections"
      enabled: true
      prefix: access_log_iiif_bookshelf
      rename-on-rotate: true

spring:
  data:
    mongodb:
      uri: mongodb://localhost:20202/iiif-bookshelf
    solr:
      # collection name see custom-section
      host: 'http://127.0.0.1:21212/solr'
      # Solr host. Ignored if "zk-host" is set.
#      repositories:
#        enabled: true
        # Enable Solr repositories.
#      zk-host: ''
      # ZooKeeper host address in the form HOST:PORT.
  messages:
    basename: 'messages, messages-commons'
    cache-duration: 5
    encoding: 'UTF-8'
    fallback-to-system-locale: false
  profiles:
    active: local
  security:
    user:
      name: admin
      password: secret
      roles: ACTUATOR
  thymeleaf:
    cache: false
    mode: HTML

---

management:
  server:
    port: 9001

server:
  error:
    include-exception: false
    include-stacktrace: 'never'

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/iiif-bookshelf
    solr:
      host: 'http://127.0.0.1:8983/solr'
      # Solr host. Ignored if "zk-host" is set.
#      repositories:
#        enabled: true
        # Enable Solr repositories.
#      zk-host: ''
      # ZooKeeper host address in the form HOST:PORT.
  profiles: PROD
  thymeleaf:
    cache: true