<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>

  <th:block th:fragment="twitterAndOG">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" th:if="${twitterSiteHandle}" th:content="${twitterSiteHandle}" />

    <meta property="og:image" th:if="${preview}"
          th:content ="${preview}"
          content="https://api.digitale-sammlungen.de/iiif/image/v2/bsb00110131_00011/full/full/0/default.jpg"/>
    <meta property="og:image:width" th:if="${previewWidth}"
          th:content="${previewWidth}"
          content="4683"/>
    <meta property="og:image:height" th:if="${previewHeight}"
          th:content="${previewHeight}"
          content="7121"/>
    <meta property="og:title" th:if="${title}"
          th:content="${title}"
          content="Naval affairs of England - BSB Cod.angl. 2"/>
    <meta property="og:description" th:if="${manifest.description}"
          th:content="${manifest.description}"
          content="Sammelhandschrift"/>
  </th:block>

  <th:block th:fragment="twitterCards">

  </th:block>

</body>
</html>
