html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;

  border-top: solid 1px #AAA;
  color: #000;
  padding-top: 10px;
  text-align: center;
}

img.preview-thumbnail {
  max-width: 100px;
}

@media (min-width : 768px) {
  .navbar {
    height: 40px;
    min-height: 40px;
  }
  .navbar .navbar-brand {
    padding: 10px 15px;
    line-height: 20px;
  }

  .navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
  }

  .navbar .navbar-nav > li > p.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

@media (max-width : 767px) {
  .navbar .navbar-nav > li > p.navbar-text {
    margin: 10px 15px;
  }
}

#navbar a.badge {
  color: white;
}

.pagination {
  margin: 0;
}

.navbar-brand > img {
  display: inline;
  height: 25px;
  margin-right: 5px;
  vertical-align: top;
}

.iiif-logo > img {
  height: 20px;
  margin-right: 0;
}

.table-pagination {
  display: inline-block;
  float: left;
}

.table-pagination:last-of-type {
  margin-bottom: 15px;
}

/* Thumbnail- and listview */

#rowSearchForm {
  margin-bottom: 10px;
}

.objectCounter {
  margin-top: 6px;
  text-align: left;
}

.objectCounter .message {
  padding-left: 8px;
}

.rowSearchMenu {
  border: solid 1px #EEE;
  border-radius: 5px;
  padding-top: 5px;
}

#btnStyleSwitcher {
  vertical-align: inherit;
}

#search-results {
  margin-top: 0;
}

.search-result-item {
  width: 100%;
  float: left;
}

.search-result-item .attribution {
  font-size: 1em;
}

.search-result-item.grid-group-item .thumbnailImage {
  position: relative;
}

.search-result-item.grid-group-item .thumbnailImage .attributorLogo {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.75);
  padding: 5px;
  text-align: center;
}

.search-result-item.list-group-item .thumbnailImage {
  margin: 5px 0 0 5px;
}

.search-result-item.list-group-item .thumbnailImage .attributorLogo {
  display: none;
}

.search-result-item.grid-group-item .caption .attributorLogo {
  display: none;
}

.search-result-item .attributorLogo img {
  max-width: 40%;
  max-height: 30px;
  margin-right: 10px;
}

@media only screen and (max-width : 767px) {
  .search-result-item.list-group-item .thumbnailImage {
    display: none;
  }

  .search-result-item.list-group-item .caption {
    max-width: 100% !important;
    margin-left: 0 !important;
  }
}

/*@media only screen and (min-width : 321px) and (max-width : 767px) {

  .search-result-item.list-group-item .imageLink {
    max-width: 16% !important;
  }

  .search-result-item.list-group-item .caption {
    max-width: 80% !important;
    margin-left: 20% !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 321px) and (max-width : 767px) {

  .search-result-item.grid-group-item {
    width: 50%;
  }

  .search-result-item.grid-group-item:nth-child(2n+3) {
    clear: left;
  }

  .search-result-item.grid-group-item:nth-child(odd) {
    padding: 0 5px 0 0;
  }

  .search-result-item.grid-group-item:nth-child(even) {
    padding: 0 0 0 5px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px){

  .search-result-item.grid-group-item {
    width: 33%;
  }

  .search-result-item.grid-group-item {
    padding: 0 5px;
  }

  .search-result-item.grid-group-item:nth-child(3n+4) {
    clear: left;
    padding: 0 5px 0 0;
  }

  .search-result-item.grid-group-item:first-child {
    padding: 0 5px 0 0;
  }

  .search-result-item.grid-group-item:nth-child(3n) {
    padding: 0 0 0 5px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

  #search-results {
    margin-top: 20px;
  }
  .search-result-item.grid-group-item {
    width: 25%;
  }

  .search-result-item.grid-group-item {
    padding: 0 5px;
  }

  .search-result-item.grid-group-item:nth-child(4n+5) {
    clear: left;
    padding: 0 5px 0 0;
  }

  .search-result-item.grid-group-item:first-child {
    padding: 0 5px 0 0;
  }

  .search-result-item.grid-group-item:nth-child(4n) {
    padding: 0 0 0 5px;
  }
}

.glyphicon { margin-right:5px; }

.thumbnail
{
  margin-bottom: 20px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 132px;
}
.search-result-item.list-group-item .imageLink {
  max-width: 8%;
  display: block;
}

.search-result-item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin: 0 0 10px 0;
  padding: 0;
  border: none !important;
}
.search-result-item.list-group-item:nth-of-type(odd):hover,.search-result-item.list-group-item:hover
{
  background: #428bca;
}
.search-result-item.list-group-item .list-group-image
{
  max-height: 120px;
  margin-right: 10px;
  float: left;
}
.search-result-item.list-group-item .thumbnail
{
  margin-bottom: 0;
}
.search-result-item.list-group-item .caption
{
  padding: 9px;
  max-width: 90%;
  display: block;
  margin-left: 10%;
}
.search-result-item.list-group-item .caption h4
{
  font-size: 20px;
}
.search-result-item.grid-group-item .caption h4
{
  font-size: 18px;
}
.search-result-item.list-group-item:nth-of-type(odd)
{
  /*  background: #eeeeee;*/
}
.search-result-item.list-group-item:before, .search-result-item.list-group-item:after
{
  display: table;
  content: " ";
}

.search-result-item.list-group-item:after
{
  clear: both;
}

.list-group-item-text
{
  margin: 0 0 11px;
  color: #777;
}

.search-result-item .itemAge {
  font-size: 0.9em;
}

a.manifest-link > img {
  display: inline;
  float: none !important;
  height: 20px;
  padding-left: 12px;
  vertical-align: middle;
}

div.tablerow {
  display: table;
  width: 100%;
}

div.tablerow > div[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

div.tablerow .iiif-logo {
  padding-top: 6px;
}

div.tablerow .lastModified {
  padding: 0;
}

.lighter {
  color: #AAA;
}

.smaller {
  font-size: 0.9em;
}

a.external {
  background: url(../images/icon_extLink16x16_blau.png) no-repeat 0 2px;
  padding-left: 18px;
  display: inline-block;
}

/*
 * VIEWER STUFF GOES HERE
 */

#viewer {
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
}

#viewer * {
  box-sizing: content-box;
}

/* Fixes disappearing scrollbar in TOC */
#viewer ul.toc {
  width: 270px;
}

#viewer ul.toc h2 {
  font-size: 1.5em;
}

#viewer .overlay * {
  box-sizing: border-box !important;
}

/* Fixes cutoff thumbnail labels */
#viewer .panel-thumbnail-view > ul.panel-listing-thumbs > li {
  margin-bottom: 11px !important;
}

#viewer .window-manifest-title {
  height: 1.25em;
}