html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;

  border-top: solid 1px #AAA;
  color: #000;
  padding-top: 6px;
  text-align: center;
}

#navbar a.badge {
  color: white;
}

#viewer {
  background: #333;
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
}

.window-manifest-title {
  height: 1.25em;
}

.pagination {
  margin: 0px;
}

.toc .toc-link {
  font-size: 0.6em;
}