<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/mirador/2.1.3/css/mirador-combined.css}" />
    <style type="text/css">
      body { font-size: 14px; }
      body > div.container { width: 100% !important; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <div id="viewer"></div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="morejs">
    <script th:src="@{/webjars/mirador/2.1.3/mirador.min.js}"></script>
    <script th:src="@{/js/viewFromUrl.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      $(function () {
        Mirador({
          'id': 'viewer',
          'buildPath': /*[[@{/webjars/mirador/2.1.3/}]]*/,
          'workspaceType': 'bookReading',
          'layout': '1x1',
          'mainMenuSettings': {
            'show': true,
            'buttons': {
              'layout': true
            },
//            'userLogo': {
//              'label': 'IIIF',
//              'attributes': {
//                'href': 'http://iiif.io'
//              }
//            },
            "userButtons": [{
              "label": "IIIF-Manifest",
              "iconClass": "fa fa-file-text",
              "attributes": {
                "class": "file",
                "href": /*[[@{__${manifestId}__}]]*/
              }
            }]
          },
          'showAddFromURLBox': true,
          'saveSession': false,
          'data': [{
            /*<![CDATA[*/
            'manifestUri': /*[[@{__${manifestId}__}]]*/
            /*]]>*/
          }],
          'windowObjects': [{
            /*<![CDATA[*/
            'loadedManifest': /*[[@{__${manifestId}__}]]*/,
            /*]]>*/
            'viewType': 'ImageView',
            'layoutOptions': {
              'close': false
            },
            'annotationLayer': false,
            'annotationCreation': false,
            'saveSession': false,
            'displayLayout': true,
            'bottomPanel': true,
            'sidePanel': true
          }],
          'annotationEndpoint': {
            'name': 'Local Storage',
            'module': 'LocalStorageEndpoint'
          }
        });
      });
    </script>
  </th:block>
</body>
</html>