<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
  <body>
    <section layout:fragment="content">

      <form action="#" th:action="@{/add}" th:object="${manifest}" method="post">
        <div class="form-group" th:classappend="${errorMessage != null} ? has-error : ''">
          <label for="url" th:text="#{url_to_manifest}">URL to manifest</label>
          <input type="text" th:field="*{manifestUri}" class="form-control" id="url" placeholder="https://digipress2.digitale-sammlungen.de/iiif/presentation/bsb00085565_00683_u001/manifest" />
          <span th:if="${errorMessage != null}" class="help-block" th:text="${errorMessage}" />
        </div>
        <button name="submit" type="submit" class="btn btn-primary" th:text="#{load}">load</button>
      </form>

    </section>
  </body>
</html>
