<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */-->
    <meta name="description" content="" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/ico"/>

    <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE">IIIF Bookshelf</title>

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" rel="stylesheet" />

    <!--/* Bootstrap material design: Custom primary color: see https://github.com/FezVrasta/bootstrap-material-design */-->
    <link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.css}" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.css}" rel="stylesheet"/>

    <!--/* Add CSS in child templates */-->
  <th:block layout:fragment="morecss">

  </th:block>

  <!--/* General CSS */-->
  <link th:href="@{/css/style.css}" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <script th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
  <script th:src="@{/webjars/respond.js/1.4.2/dest/respond.min.js}"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand iiif-logo" th:href="@{/}">
          <img th:src="@{/images/iiif-logo.svg}" alt="Logo IIIF" />
          <b>Bookshelf</b>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li th:class="${menu} == 'home' ? 'active'"><a th:href="@{/}" th:text="#{homepage}">Home</a></li>
          <li>
            <p class="navbar-text">
              <a th:href="@{${currentUrl}(language='de')}" th:class="${#locale.language == 'de' ? 'active navbar-link badge': 'navbar-link'}">
                de
              </a>
              |
              <a th:href="@{${currentUrl}(language='en')}" th:class="${#locale.language == 'en' ? 'active navbar-link badge': 'navbar-link'}">
                en
              </a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--/*  Here comes the content  */-->
  <div class="container">
    <section layout:fragment="content">
      ...
    </section>
  </div>

  <!--/*  Footer Start  */-->
  <footer class="footer">
    <div class="container">
      <p>
        <span>visit us on <a href="https://github.com/dbmdz/iiif-bookshelf-webapp" class="external" target="_blank">GitHub</a></span>
      </p>

    </div>
  </footer>

<th:block layout:fragment="basejs">
  <!--/*  Footer Ende  */-->
  <script th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script th:src="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.js}"></script>
</th:block>

<!--/* Add JS in child templates */-->
<th:block layout:fragment="morejs"> </th:block>
</body>
</html>
