<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">
      <div th:replace="fragments/search :: searchForm">
        ...
      </div>

      <div th:replace="fragments/search :: searchResultHeader">
        ...
      </div>

      <div th:replace="fragments/search :: searchResults">
        ...
      </div>

      <!--/* Aaaand another pagination */-->
      <div class="row">
        <div class="col-sm-6" >
          <div th:replace="fragments/search :: pagination"></div>
        </div>
      </div>
    </section>
  </body>
</html>
